<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7DP1Ofi_EGSkZGDs4qIIn-70zf8hZEGc</string>
	<key>GCM_SENDER_ID</key>
	<string>585806381550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.barhopaaaapp</string>
	<key>PROJECT_ID</key>
	<string>bar-hoppa</string>
	<key>STORAGE_BUCKET</key>
	<string>bar-hoppa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585806381550:ios:01e12a8fd541230f05ceff</string>
</dict>
</plist>